#myCarousel.carousel.slide(data-ride='carousel')
  // Indicators
  ol.carousel-indicators
    li(data-target='#myCarousel', data-slide-to='0')
    li(data-target='#myCarousel', data-slide-to='1')
    li.active(data-target='#myCarousel', data-slide-to='2')
  .carousel-inner(role='listbox')
    .item.text-center
      img.first-slide(src=data[0].mainPageImage, alt=data[0].name)
      .container
        .carousel-caption
          h1
            =data[0].name
          p
            =data[0].description
    .item
      img.second-slide(src=data[1].mainPageImage, alt=data[1].name)
      .container
        .carousel-caption
          h1
            =data[1].name
          p
            =data[1].description
    .item.active
      img.third-slide(src=data[2].mainPageImage, alt=data[2].name)
      .container
        .carousel-caption
          h1
            =data[2].name
          p
            =data[2].description
  a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
    span.sr-only Previous
  a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
    span.sr-only Next
